---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/alerts/active/area/CA?limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Server-Id:
      - vm-bldr-nids-apiapp172.ncep.noaa.gov
      X-Correlation-Id:
      - 19b0a4a1-18ba-4860-ab61-46592bc3cf1a
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://raw.githubusercontent.com/geojson/geojson-ld/master/contexts/geojson-base.jsonld",
                {
                    "wx": "https://api.weather.gov/ontology#",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "FeatureCollection",
            "features": [
                {
                    "id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2514475-2345300",
                    "type": "Feature",
                    "geometry": null,
                    "properties": {
                        "@id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2514475-2345300",
                        "@type": "wx:Alert",
                        "id": "NWS-IDP-PROD-2514475-2345300",
                        "areaDesc": "Northwest Deserts; Morongo Basin; Cadiz Basin; Sheep Range; San Bernardino County-Upper Colorado River Valley; Lake Havasu and Fort Mohave; Lake Mead National Recreation Area; Northwest Plateau; Lincoln County; Northeast Clark County; Southern Clark County; Las Vegas Valley; Eastern Mojave Desert, Including the Mojave National Preserve; Spring Mountains-Red Rock Canyon; Lake Mead National Recreation Area; Western Clark and Southern Nye County",
                        "geocode": {
                            "UGC": [
                                "AZZ003",
                                "CAZ525",
                                "CAZ526",
                                "NVZ018",
                                "CAZ527",
                                "AZZ002",
                                "AZZ036",
                                "AZZ001",
                                "NVZ015",
                                "NVZ016",
                                "NVZ022",
                                "NVZ020",
                                "CAZ524",
                                "NVZ019",
                                "NVZ021",
                                "NVZ017"
                            ],
                            "SAME": [
                                "004015",
                                "006071",
                                "032017",
                                "032003",
                                "032023"
                            ]
                        },
                        "references": [
                            "https://api.weather.gov/alerts/NWS-IDP-PROD-2513991-2344795"
                        ],
                        "sent": "2017-09-08T11:52:09+00:00",
                        "effective": "2017-09-08T11:52:09+00:00",
                        "onset": "2017-09-08T16:00:00+00:00",
                        "expires": "2017-09-09T03:00:00+00:00",
                        "ends": "2017-09-11T12:00:00+00:00",
                        "status": "Actual",
                        "messageType": "Update",
                        "category": "Met",
                        "severity": "Severe",
                        "certainty": "Possible",
                        "urgency": "Future",
                        "event": "Flash Flood Watch",
                        "sender": "NWS Las Vegas NV",
                        "headline": "Flash Flood Watch issued September 8 at 4:51AM PDT expiring September 11 at 5:00AM PDT by NWS Las Vegas NV",
                        "description": "Moisture will continue to increase today and remain through\nSunday leading to favorable conditions for scattered heavy rain\nproducing thunderstorms across much of southern Nevada, northwest\nArizona, and southeast California.\nThe Flash Flood Watch continues for\n\n* Portions of northwest Arizona, southeast California, and\nNevada, including the following areas, in northwest Arizona,\nLake Havasu and Fort Mohave, Lake Mead National Recreation\nArea, Northwest Deserts, and Northwest Plateau. In southeast\nCalifornia, Cadiz Basin, Eastern Mojave Desert, Morongo Basin,\nand San Bernardino County-Upper Colorado River Valley. In\nNevada, Lake Mead National Recreation Area, Las Vegas Valley,\nLincoln County, Northeast Clark County, Sheep Range, Southern\nClark County, Spring Mountains-Red Rock Canyon, and Western\nClark and Southern Nye County.\n\n* From 9 AM PDT /9 AM MST/ this morning through late Sunday night\n\n* Scattered thunderstorms will be capable of producing intense\nrainfall which could lead to flash flooding. Flooding of\nnormally dry washes, low water crossings, and poorly drained\nintersections is likely. Washes in urban areas will also likely\nsee rapid increases that see little to no rainfall. Be\nespecially cautious at night when flash flood danger may be\nharder to see.",
                        "instruction": "A Flash Flood Watch means that conditions may become favorable\nfor flooding of washes...streams and other drainage areas in the\nwatch area. If you are in the watch area...you should closely\nmonitor weather forecasts and be prepared to take immediate\naction should heavy rain and flooding occur or a flash flood\nwarning is issued.\n\nListen to NOAA weather radio...commercial radio or television\nstations for updates on this flash flood threat or by visiting us\nonline at\n\nweather.gov/lasvegas",
                        "response": "Monitor",
                        "parameters": {
                            "NWSheadline": [
                                "FLASH FLOOD WATCH REMAINS IN EFFECT FROM 9 AM PDT /9 AM MST/ THIS MORNING THROUGH LATE SUNDAY NIGHT"
                            ],
                            "VTEC": [
                                "/O.CON.KVEF.FF.A.0008.170908T1600Z-170911T1200Z/"
                            ],
                            "EAS-ORG": [
                                "WXR"
                            ],
                            "PIL": [
                                "VEFFFAVEF"
                            ],
                            "BLOCKCHANNEL": [
                                "CMAS",
                                "EAS",
                                "NWEM"
                            ],
                            "eventEndingTime": [
                                "2017-09-11T12:00:00Z"
                            ]
                        }
                    }
                },
                {
                    "id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2514403-2345218",
                    "type": "Feature",
                    "geometry": null,
                    "properties": {
                        "@id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2514403-2345218",
                        "@type"[...]
