---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/alerts/active/area/CA?limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Server-Id:
      - vm-bldr-nids-apiapp148.ncep.noaa.gov
      X-Correlation-Id:
      - 27e2cee6-cf19-4551-80f7-3ebed4977157
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://raw.githubusercontent.com/geojson/geojson-ld/master/contexts/geojson-base.jsonld",
                {
                    "wx": "https://api.weather.gov/ontology#",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "FeatureCollection",
            "features": [
                {
                    "id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2511993-2343318",
                    "type": "Feature",
                    "geometry": null,
                    "properties": {
                        "@id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2511993-2343318",
                        "@type": "wx:Alert",
                        "id": "NWS-IDP-PROD-2511993-2343318",
                        "areaDesc": "Central Siskiyou County; North Central and Southeast Siskiyou County; South Central Siskiyou County; Northeast Siskiyou and Northwest Modoc Counties",
                        "geocode": {
                            "UGC": [
                                "CAZ081",
                                "CAZ083",
                                "CAZ082",
                                "CAZ084"
                            ],
                            "SAME": [
                                "006093",
                                "006049"
                            ]
                        },
                        "references": [],
                        "sent": "2017-09-05T17:50:49+00:00",
                        "effective": "2017-09-05T17:50:49+00:00",
                        "onset": "2017-09-05T17:50:00+00:00",
                        "expires": "2017-09-06T19:00:00+00:00",
                        "ends": "2017-09-07T19:00:00+00:00",
                        "status": "Actual",
                        "messageType": "Alert",
                        "category": "Met",
                        "severity": "Moderate",
                        "certainty": "Likely",
                        "urgency": "Expected",
                        "event": "Dense Smoke Advisory",
                        "sender": "NWS Medford OR",
                        "headline": "Dense Smoke Advisory issued September 5 at 10:50AM PDT expiring September 7 at 12:00PM PDT by NWS Medford OR",
                        "description": "Periods of dense smoke are expected through midday Thursday\nacross the mid-elevations and valleys of Siskiyou County from the\nShasta Valley westward.\nThe National Weather Service in Medford has issued a Dense Smoke\nAdvisory...which is in effect until noon PDT Thursday.\n\n* Visibilities: A quarter of a mile or less, at times.\n\n* Locations in the dense smoke advisory: Mid-elevations and\nvalleys of Siskiyou County from the Shasta Valley westward\n\n* Dense Smoke Impacts: Dense smoke from wildfires will create\nhazardous driving conditions, at times, on area roadways.\n\n* View the hazard area in detail at\nhttps://www.wrh.noaa.gov/mfr/HAZARD",
                        "instruction": "* If driving, slow down, use your headlights, and leave plenty of\ndistance between you and other vehicles.\n\n* Check up on relatives and neighbors, as well as outdoor pets and\nlivestock.",
                        "response": "Execute",
                        "parameters": {
                            "NWSheadline": [
                                "DENSE SMOKE ADVISORY IN EFFECT UNTIL NOON PDT THURSDAY"
                            ],
                            "VTEC": [
                                "/O.EXB.KMFR.SM.Y.0005.000000T0000Z-170907T1900Z/"
                            ],
                            "PIL": [
                                "MFRNPWMFR"
                            ],
                            "BLOCKCHANNEL": [
                                "CMAS",
                                "EAS",
                                "NWEM"
                            ],
                            "eventEndingTime": [
                                "2017-09-07T19:00:00Z"
                            ]
                        }
                    }
                },
                {
                    "id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2511994-2343319",
                    "type": "Feature",
                    "geometry": null,
                    "properties": {
                        "@id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2511994-2343319",
                        "@type"[...]
