---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/alerts/active?limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Server-Id:
      - vm-bldr-nids-apiapp235.ncep.noaa.gov
      X-Correlation-Id:
      - 750018f9-320f-468c-bbde-687e42d13c53
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://raw.githubusercontent.com/geojson/geojson-ld/master/contexts/geojson-base.jsonld",
                {
                    "wx": "https://api.weather.gov/ontology#",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "FeatureCollection",
            "features": [
                {
                    "id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2512018",
                    "type": "Feature",
                    "geometry": null,
                    "properties": {
                        "@id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2512018",
                        "@type": "wx:Alert",
                        "id": "NWS-IDP-PROD-2512018",
                        "areaDesc": "Central Interior; Culebra; Southwest; St Croix; Mayaguez and Vicinity; Vieques; Western Interior; Northeast; Eastern Interior; Northwest; Ponce and Vicinity; St.Thomas...St. John.. and Adjacent Islands; San Juan and Vicinity; North Central; Southeast",
                        "geocode": {
                            "UGC": [
                                "PRZ006",
                                "PRZ012",
                                "PRZ011",
                                "VIZ002",
                                "PRZ010",
                                "PRZ013",
                                "PRZ009",
                                "PRZ002",
                                "PRZ004",
                                "PRZ008",
                                "PRZ007",
                                "VIZ001",
                                "PRZ001",
                                "PRZ005",
                                "PRZ003"
                            ],
                            "SAME": [
                                "072009",
                                "072019",
                                "072039",
                                "072043",
                                "072047",
                                "072073",
                                "072101",
                                "072105",
                                "072107",
                                "072149",
                                "072049",
                                "07[...]
