---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/alerts/active?limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Server-Id:
      - vm-bldr-nids-apiapp189.ncep.noaa.gov
      X-Correlation-Id:
      - 34b3fecd-dc21-4a6e-b333-4727fbeaedbc
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://raw.githubusercontent.com/geojson/geojson-ld/master/contexts/geojson-base.jsonld",
                {
                    "wx": "https://api.weather.gov/ontology#",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "FeatureCollection",
            "features": [
                {
                    "id": "https://api.weather.gov/alerts/NWS-IDP-PROD-KEEPALIVE-9127",
                    "type": "Feature",
                    "geometry": null,
                    "properties": {
                        "@id": "https://api.weather.gov/alerts/NWS-IDP-PROD-KEEPALIVE-9127",
                        "@type": "wx:Alert",
                        "id": "NWS-IDP-PROD-KEEPALIVE-9127",
                        "areaDesc": "Montgomery",
                        "geocode": {
                            "UGC": [
                                "MDC031"
                            ],
                            "SAME": [
                                "024031"
                            ]
                        },
                        "references": [],
                        "sent": "2017-09-08T14:37:06+00:00",
                        "effective": "2017-09-08T14:37:06+00:00",
                        "onset": null,
                        "expires": "2017-09-08T14:47:06+00:00",
                        "ends": null,
                        "status": "Test",
                        "messageType": "Alert",
                        "category": "Met",
                        "severity": "Unknown",
                        "certainty": "Unknown",
                        "urgency": "Unknown",
                        "event": "Test Message",
                        "sender": "NWS",
                        "headline": null,
                        "description": "Monitoring message only. Please disregard.",
                        "instruction": "Monitoring message only. Please disregard.",
                        "response": "None",
                        "parameters": {
                            "WMOIdentifier": [
                                "XOUS55 KWBC 081437"
                            ],
                            "PIL": [
                                "NWSKEPWBC"
                            ],
                            "BLOCKCHANNEL": [
                                "CMAS",
                                "EAS",
                                "NWEM"
                            ]
                        }
                    }
                },
                {
                    "id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2514523-2345343",
                    "type": "Feature",
                    "geometry": null,
                    "properties": {
                        "@id": "https://api.weather.gov/alerts[...]
