---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/alerts/active/area/TX?limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Server-Id:
      - vm-bldr-nids-apiapp205.ncep.noaa.gov
      X-Correlation-Id:
      - a84cfb0c-95d4-4440-b278-3885e8c38bd4
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://raw.githubusercontent.com/geojson/geojson-ld/master/contexts/geojson-base.jsonld",
                {
                    "wx": "https://api.weather.gov/ontology#",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "FeatureCollection",
            "features": [
                {
                    "id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2514521",
                    "type": "Feature",
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                            [
                                [
                                    -97.16,
                                    26.05
                                ],
                                [
                                    -97.15,
                                    26.03
                                ],
                                [
                                    -97.15,
                                    25.96
                                ],
  [...]
