---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/alerts/active/area/TX?limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Server-Id:
      - vm-bldr-nids-apiapp52.ncep.noaa.gov
      X-Correlation-Id:
      - 6c695a8b-d728-44af-812a-fda9fc8b5398
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://raw.githubusercontent.com/geojson/geojson-ld/master/contexts/geojson-base.jsonld",
                {
                    "wx": "https://api.weather.gov/ontology#",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "FeatureCollection",
            "features": [
                {
                    "id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2511983",
                    "type": "Feature",
                    "geometry": null,
                    "properties": {
                        "@id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2511983",
                        "@type": "wx:Alert",
                        "id": "NWS-IDP-PROD-2511983",
                        "areaDesc": "Nueces; Calhoun; Aransas; San Patricio; Kleberg; Refugio",
                        "geocode": {
                            "UGC": [
                                "TXZ243",
                                "TXZ247",
                                "TXZ245",
                                "TXZ244",
                                "TXZ242",
                                "TXZ246"
                            ],
                            "SAME": [
                                "048355",
                                "048057",
                                "048007",
                                "048409",
                                "048273",
                                "048391"
                            ]
                        },
                        "references": [],
                        "sent": "2017-09-05T17:14:13+00:00",
                        "effective": "2017-09-05T17:14:13+00:00",
                        "onset": "2017-09-05T17:14:00+00:00",
                        "expires": "2017-09-05T23:00:00+00:00",
                        "ends": null,
                        "status": "Actual",
                        "messageType": "Alert",
                        "category": "Met",
                        "severity": "Moderate",
                        "certainty": "Observed",
                        "urgency": "Expected",
                        "event": "Special Weather Statement",
                        "sender": "NWS Corpus Christi TX",
                        "headline": "Special Weather Statement issued September 5 at 12:14PM CDT by NWS Corpus Christi TX",
                        "description": "A tropical airmass along with light winds several thousand feet\nabove the surface will be conducive for the development of funnel\nclouds this afternoon. Most of these funnel clouds will be short\nlived. However, you should be prepared to seek shelter in the\nevent a funnel does reach the ground.",
                        "instruction": "",
                        "response": "Execute",
                        "parameters": {
                            "NWSheadline": [
                                "POTENTIAL FOR FUNNEL CLOUDS AGAIN THIS AFTERNOON"
                            ],
                            "EAS-ORG": [
                                "WXR"
                            ],
                            "PIL": [
                                "CRPSPSCRP"
                            ],
                            "BLOCKCHANNEL": [
                                "CMAS",
                                "EAS",
                                "NWEM"
                            ]
                        }
                    }
                },
                {
                    "id": "https://api.weather.gov/alerts/NWS-IDP-PROD-2511947-2343287",
                    "type": "Feature",
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                            [
                                [
                                    -93.63,
                                    30.57
                                ],
                                [
                                    -93.64,
                                    30.11
                                ],
                                [
                                    -93.78,
                                    30.11
                                ],
  [...]
