<% if current_user %>
  <h2 style="font-size:150%;">Welcome, <%= current_user.first_name %>. </h2>
<% end %>

<%= render "welcome/search" %>

<% if current_user %>
  <%= render "welcome/map" %>
<% else %>
  <%= render "welcome/login_tiles" %>
<% end %>
