---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1331%2017th%20St,%20Denver,%20Colorado&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1331",
                       "short_name" : "1331",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "17th Street",
                       "short_name" : "17th St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Central",
                       "short_name" : "Central",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" :[...]
[...]
