---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=123%20Main%20st.,%20Denver,%20CO&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "123",
                       "short_name" : "123",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Main Street",
                       "short_name" : "Main St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Lancaster County",
                       "short_name" : "Lancaster County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Pennsylvania",
                       "short_name" : "PA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "17517",
                       "short_name" : "17517",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "123 Main St, Denver, PA 17517, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 40.2303243,
                       "lng" : -76.13390489999999
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.2316732802915,
                          "lng" : -76.13255591970849
                       },
                       "southwest" : {
                          "lat" : 40.2289753197085,
                          "lng" : -76.1352538802915
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "EiIxMjMgTWFpbiBTdCwgRGVudmVyLCBQQSAxNzUxNywgVVNB",
                 "types" : [ "street_address" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "123",
                       "short_name" : "123",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Main Street",
                       "short_name" : "Main St",
              [...]
[...]
