<h1>About Us</h1>
<p>
  What was going through the minds of all of Chuck Norris' victims before they died? His shoe CNN was originally created as the "Chuck Norris Network" to update Americans with on-the-spot ass kicking in real-time, Chuck Norris is ten feet tall, weighs two-tons, breathes fire, and could eat a hammer and take a shotgun blast standing. Chuck Norris can win a game of Connect Four in only three moves, Guns don't kill people. Chuck Norris kills people. Chuck Norris drives an ice cream truck covered in human skulls What was going through the minds of all of Chuck Norris' victims before they died? His shoe, Chuck Norris doesn't read books. He stares them down until he gets the information he wants.

  Chuck Norris is the only person that can deliver a roundhouse kick in full 1080p, remember that the next time you watch Walker Texas Ranger in Blu-Ray.

  Chuck Norris can slam a revolving door Someone once videotaped Chuck Norris getting pissed off. It was called Walker: Texas Chain Saw Massacre. When the Boogeyman goes to sleep every night, he checks his closet for Chuck Norris. A Handicapped parking sign does not signify that this spot is for handicapped people. It is actually in fact a warning, that the spot belongs to Chuck Norris and that you will be handicapped if you park there There is no theory of evolution. Just a list of creatures Chuck Norris has allowed to live, Chuck Norris originally appeared in the "Street Fighter II" video game, but was removed by Beta Testers because every button caused him to do a roundhouse kick. When asked bout this "glitch," Norris replied, "That's no glitch.". I before E except after Chuck. When the Boogeyman goes to sleep every night, he checks his closet for Chuck Norris There is no theory of evolution. Just a list of creatures Chuck Norris has allowed to live. Chuck Norris counted to infinity - twice. Chuck Norris doesn't wash his clothes, he disembowels them Most people have 23 pairs of chromosomes. Chuck Norris has 72... and they're all poisonous. Chuck Norris doesn't wear a watch. HE decides what time it is Chuck Norris counted to infinity - twice, Chuck Norris does not have a cell phone because he hears everything.

  Contrary to popular belief, America is not a democracy, it is a Chucktatorship The chief export of Chuck Norris is Pain. Chuck Norris doesn't wear a watch. HE decides what time it is.


  <em>Turing School Project By Eddie Jimmy Marky Mark and the Wil/l/s. Do NOT Use, Not legitimate application</em>
</p>
