---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1701%20Bryant%20St,%20Denver,%20Colorado&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1701",
                       "short_name" : "1701",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Bryant Street",
                       "short_name" : "Bryant St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "West",
                       "short_name" : "West",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1331%2017th%20St,%20Denver,%20Colorado&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
 [...]
[...]
