<footer id="footer">
  <div class="inner">
    <section>
      <h2>Follow</h2>
      <ul class="icons">
        <li> <%= link_to image_tag('twitter_icon.png'), "https://www.twitter.com/communityshelter" %> </li>
        <li> <%= link_to image_tag('fb_icon.png'), "https://www.facebook.com/communityshelter" %> </li>
        <li> <%= link_to image_tag('insta_icon.png'), "https://www.instagram.com/communityshelter" %> </li>
        <li> <%= link_to image_tag('mail_icon.png'), "mailto:communityshelter@gmail.com?subject=community_shelter" %> </li>
      </ul>
    </section>
    <ul class="copyright">
      <li>&copy; Shelter 2017. All rights reserved</li><li>Design: <a href="http://turing.io">The Turing School</a></li>
    </ul>
  </div>
</footer>
