<nav id="menu">
  <h2>Menu</h2>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="generic.html">Fuck You</a></li>
    <li><a href="generic.html">Fuck You Too</a></li>
    <li><a href="generic.html">Go Fuck Yourself</a></li>
    <li><a href="elements.html">Lots</a></li>
  </ul>
</nav>
